
<div class="">
  <p class="p-2 text-center">about works!</p>
  <span class="p-2 mdi mdi-home">This is a Thing  <i class="dx-icon-email"></i></span>

  <div class="flex flex-wrap content-center w-full gap-2 p-2">
    <dx-button
      text="Toast Test"
      icon="email"
      (click)="createToast($event)">
    </dx-button>
    <dx-button
      text="success"
      icon="email"
      type="success"
      (click)="showToast('success')">
    </dx-button>
    <dx-button
      text="default"
      icon="email"
      type="default"
      (click)="showToast('info')">
    </dx-button>
    <dx-button
      text="danger"
      icon="email"
      type="danger"
      (click)="showToast('error')">
    </dx-button>
    <dx-button
      text="warning"
      icon="email"
      type="warning"
      (click)="showToast('warning')">
    </dx-button>
  </div>


</div>
<div class="flex flex-wrap content-center w-full gap-2 p-2">
  testar
  <dx-button-group>
    <dx-button
      text="danger"
      icon="email"
      type="danger">
    </dx-button>
    <dx-button
      text="warning"
      icon="email"
      type="warning">
    </dx-button>
  </dx-button-group>
</div>

<dx-toast [(visible)]="toastIsVisible" [type]="type" [message]="message" class="opacity-50">
</dx-toast>
<div class="flex flex-wrap content-center w-full gap-2 p-2">
  <dx-button-group
    [items]="alignments"
    keyExpr="alignment"
    stylingMode="outlined"
    [selectedItemKeys]="['left']"
    (onItemClick)="itemClick($event)">
  </dx-button-group>
</div>
<div class="flex flex-row min-h-[500px] justify-center gap-2">
<textarea class="w-[45%] p-2" [(ngModel)]="markdown"></textarea>
<markdown lineNumbers class="w-[45%] p-2 bg-slate-200" [data]="markdown"></markdown>
</div>

<markdown
  lineNumbers
  [start]="5"
  [data]="markdown">
</markdown>