<div class="bg-gradient-to-br from-yellow-400 to-yellow-800">  
  <p>about works!</p>
  <span class="mdi mdi-home">This is a Thing</span>
</div>

<div class="grid justify-items-center pt-7">
  <div class="flex flex-row">
    <div class="flex flex-col w-16 p-4 bg-gray-500 mt-5 mb-5 rounded-l-lg">
      <div class="flex flex-col space-y-4">
        <a (click)="menuClick($event)"><div class="menu-btn">1</div></a>
        <a (click)="menuClick($event)"><div class="menu-btn">2</div></a>
        <a (click)="menuClick($event)"><div class="menu-btn">3</div></a>
        <a (click)="menuClick($event)"><div class="menu-btn">4</div></a>
        <a (click)="menuClick($event)"><div class="menu-btn">5</div></a>
        <a (click)="menuClick($event)"><div class="menu-btn">6</div></a>
      </div>
    </div>
    <div class="w-64 h-full">
      <figure class="bg-gray-300 rounded-xl p-8" style="min-height: 400px;">
        <div class="w-32 h-32 rounded-full mx-auto bg-gray-900" src="" alt="" width="384" height="512"></div>
        <div class="pt-6 text-center space-y-4">
          <blockquote>
            <p class="text-lg font-semibold">
              “{{text}}”
            </p>
          </blockquote>
          <figcaption class="font-medium">
            <div class="text-cyan-600">
              Sarah Dayan
            </div>
            <div class="text-gray-500">
              Staff Engineer, Algolia
            </div>
          </figcaption>
        </div>
      </figure>
    </div>
  </div>
</div>