<div class="grid justify-items-center pt-7">
  <div class="flex flex-row">
    <div class="flex flex-col w-16 p-4 bg-gray-500 mt-5 mb-5 rounded-l-lg">
      <div class="flex flex-col space-y-4">
        <a (click)="menuClick($event)"><div class="menu-btn">1</div></a>
        <a (click)="menuClick($event)"><div class="menu-btn">2</div></a>
        <a (click)="menuClick($event)"><div class="menu-btn">3</div></a>
        <a (click)="menuClick($event)"><div class="menu-btn">4</div></a>
        <a (click)="menuClick($event)"><div class="menu-btn">5</div></a>
        <a (click)="menuClick($event)"><div class="menu-btn">6</div></a>
      </div>
    </div>
    <div class="w-64 h-full">
      <figure class="bg-gray-300 dark:bg-gray-700 rounded-xl p-8" style="min-height: 400px;">
        <div class="w-32 h-32 rounded-full mx-auto bg-gray-900" src="" alt="" width="384" height="512"></div>
        <div class="pt-6 text-center space-y-4">
          <blockquote>
            <p class="text-lg font-semibold">
              “{{text}}”
            </p>
          </blockquote>
          <figcaption class="font-medium">
            <div class="text-cyan-600">
              Sarah Dayan
            </div>
            <div class="text-gray-500">
              Staff Engineer, Algolia
            </div>
          </figcaption>
        </div>
      </figure>
    </div>
  </div>
</div>

<section class="dark:bg-coolGray-800 dark:text-coolGray-100">
	<div class="container flex flex-col justify-center p-4 mx-auto md:p-8">
		<p class="p-2 text-sm font-medium tracking-wider text-center uppercase">How it works</p>
		<h2 class="mb-12 text-4xl font-bold leading-none text-center sm:text-5xl">Frequently Asked Questions</h2>
		<div class="flex flex-col divide-y sm:px-8 lg:px-12 xl:px-32 divide-coolGray-700">
			<details>
				<summary class="py-2 outline-none cursor-pointer focus:text-gray-500">Optio maiores eligendi molestiae totam dolores similique?</summary>
				<div class="px-4 pb-4">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde neque in fugiat magni, quas animi enim veritatis deleniti ex. Impedit.</p>
				</div>
			</details>
			<details>
				<summary class="py-2 outline-none cursor-pointer focus:text-gray-500">Modi dolorem veritatis culpa quos consequuntur beatae itaque excepturi perspiciatis?</summary>
				<div class="px-4 pb-4">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aspernatur quae, eos explicabo odit minima libero veniam similique quibusdam doloribus facilis ipsa accusantium vel maiores corrupti! Libero voluptate a doloribus?</p>
				</div>
			</details>
			<details>
				<summary class="py-2 outline-none cursor-pointer focus:text-gray-500">Magni reprehenderit possimus debitis?</summary>
				<div class="px-4 pb-4 space-y-2">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptates aspernatur dolores in consequatur doloremque inventore reprehenderit, consequuntur perspiciatis architecto.</p>
					<p>Sed consectetur quod tenetur! Voluptatibus culpa incidunt veritatis velit quasi cupiditate unde eaque! Iure, voluptatibus autem eaque unde possimus quae.</p>
				</div>
			</details>
		</div>
	</div>
</section>