body {
  margin: 0;
}

.header {
  height: 50px;
  display: flex;
  align-items: baseline;
  padding: .5rem;
  gap: 1rem;
}

.link {  
  background: none;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.dropdown.active > .link,
.link:hover {
  color: black;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  z-index: 10000;
  position: absolute;
  width: 500px;
  left: 0;
  top: calc(100% + .25rem);
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-600px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}



.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.login-form > input {
  margin-bottom: .5rem;
}

.dropdown-menu-item {
  display: block;
  flex-direction: column;
  gap: .25rem;
  color:#fdaa83;
  // background-color: rgb(219, 219, 219);
  // border: 1px solid rgb(209, 209, 209);
  border-radius: 2px;
  margin: 2px;
  height: 80px;
  width: 100px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu-item:hover{
  color: #F65E16;
}
a.link.active > * {
  border: 2px solid #fdaa83;
  border-radius: 8px;
}

.dropdown-menu-item-icon{
  font-size: xx-large;
  text-align: center;
  margin: 0;
}
.dropdown-menu-item-text{
  text-align: center;
  margin:0;
}