<div class="header justify-between dark:bg-gray-900 border-b-2 border-neutral-400 dark:border-neutral-600">
  <div class="dropdown" data-dropdown>
    <button class="link text-gray-400 hover:text-gray-800 dark:text-red-200 dark:hover:text-red-400" data-dropdown-button>Menu</button>


    <div class="dropdown-menu information-grid dark:bg-gray-900 border-2 bg-gray-400">
      <div class="dropdown-menu-row">
        <a routerLink="/about" class="link" (click)="toggleMenu($event)" link-button>
        <div class="dropdown-menu-item">
            <p class="dropdown-menu-item-icon"><span class="mdi mdi-home"></span></p>
            <p class="dropdown-menu-item-text">about</p>
        </div>
      </a>
      <a routerLink="/info" class="link" (click)="toggleMenu($event)" link-button>
        <div class="dropdown-menu-item" >
          <p class="dropdown-menu-item-icon"><span class="mdi mdi-account-cowboy-hat"></span></p>
          <p class="dropdown-menu-item-text">INFO</p>
        </div>
      </a>
      </div>
      <div class="dropdown-menu-row">
        <a routerLink="/" class="link" (click)="toggleMenu($event)" link-button>
          <div class="dropdown-menu-item">
            <p class="dropdown-menu-item-icon">A</p>
            <p class="dropdown-menu-item-text">Home</p>
          </div>
        </a>
        <a href="#" class="link" (click)="toggleMenu($event)" link-button>
          <div class="dropdown-menu-item">
            <p class="dropdown-menu-item-icon">A</p>
            <p class="dropdown-menu-item-text">test</p>
          </div>
        </a>
      </div>
      <div class="dropdown-menu-row">
        <a href="#" class="link" (click)="toggleMenu($event)" link-button>
          <div class="dropdown-menu-item">
            <p class="dropdown-menu-item-icon">A</p>
            <p class="dropdown-menu-item-text">test</p>
          </div>
        </a>
        <a href="#" class="link" (click)="toggleMenu($event)" link-button>
          <div class="dropdown-menu-item">
            <p class="dropdown-menu-item-icon">A</p>
            <p class="dropdown-menu-item-text">test</p>
          </div>
        </a>
      </div>
      <div class="dropdown-menu-row">
        <a href="#" class="link" (click)="toggleMenu($event)" link-button>
          <div class="dropdown-menu-item">
            <p class="dropdown-menu-item-icon">A</p>
            <p class="dropdown-menu-item-text">test</p>
          </div>
        </a>
        <a href="#" class="link" (click)="toggleMenu($event)" link-button>
          <div class="dropdown-menu-item">
            <p class="dropdown-menu-item-icon">A</p>
            <p class="dropdown-menu-item-text">test</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <button (click)="toggleDarkmode()" class="btn right-0">{{toggledarkmodeText}}</button>
</div>
