<p>
  buttons works!
</p>
<div class="grid grid-cols-8 gap-4 py-4">
  <button class="btn">
    <span class="mdi mdi-account-cowboy-hat pr-1"></span>Button
  </button>
  <button class="btn rounded-sm">
    <span class="mdi mdi-account-cowboy-hat pr-1"></span>Button
  </button>
  <button class="btn rounded">
    <span class="mdi mdi-account-cowboy-hat pr-1"></span>Button
  </button>
  <button class="btn rounded-lg">
    <span class="mdi mdi-account-cowboy-hat pr-1"></span>Button
  </button>
  <button class="btn rounded-full">
    <span class="mdi mdi-account-cowboy-hat pr-1"></span>Button
  </button>
</div>
<div>
  <div class="bg-gray-200 border border-gray-500 text-gray-800 p-1 font-mono text-sm">
    1: btn <br>
    2: btn rounded-sm <br>
    3: btn rounded <br>
    4: btn rounded-lg <br>
    5: btn rounded-full <br>
  </div>
</div>
<div class="grid grid-cols-8 gap-4 py-4">
  <button class="btn-solid">
    <span class="mdi mdi-account-cowboy-hat pr-1"></span>Button
  </button>
  <button class="btn-solid rounded-sm">
    <span class="mdi mdi-account-cowboy-hat pr-1"></span>Button
  </button>
  <button class="btn-solid rounded">
    <span class="mdi mdi-account-cowboy-hat pr-1"></span>Button
  </button>
  <button class="btn-solid rounded-lg">
    <span class="mdi mdi-account-cowboy-hat pr-1"></span>Button
  </button>
  <button class="btn-solid rounded-full">
    <span class="mdi mdi-account-cowboy-hat pr-1"></span>Button
  </button>
</div>
<div>
  <div class="bg-gray-200 border border-gray-500 text-gray-800 p-1 font-mono text-sm">
    1: btn-solid <br>
    2: btn-solid rounded-sm <br>
    3: btn-solid rounded <br>
    4: btn-solid rounded-lg <br>
    5: btn-solid rounded-full <br>
  </div>
</div>
<div class="grid grid-cols-8 gap-4 py-4">
  <button class="btn-text">
    <span class="mdi mdi-account-cowboy-hat pr-1"></span>Button
  </button>
</div>
<div>
  <div class="bg-gray-200 border border-gray-500 text-gray-800 p-1 font-mono text-sm">
    1: btn-text <br>
  </div>
</div>
<div class="grid grid-cols-8 gap-4 py-4">
  <button class="btn-core rounded-sm bg-red-300 hover:text-red-300">
    <span class="mdi mdi-account-cowboy-hat pr-1"></span>Button
  </button>
  <button class="btn-core rounded-sm bg-red-700 hover:text-red-700">
    <span class="mdi mdi-account-cowboy-hat pr-1"></span>Button
  </button>
  <button class="btn-core rounded-sm bg-blue-300 hover:text-blue-300">
    <span class="mdi mdi-account-cowboy-hat pr-1"></span>Button
  </button>
  <button class="btn-core rounded-sm bg-green-300 hover:text-green-300">
    <span class="mdi mdi-account-cowboy-hat pr-1"></span>Button
  </button>
</div>
<div>
  <div class="bg-gray-200 border border-gray-500 text-gray-800 p-1 font-mono text-sm">
    1: btn-core rounded-sm bg-red-300 hover:text-red-300 <br>
    2: btn-core rounded-sm bg-red-700 hover:text-red-700 <br>
    3: btn-core rounded-sm bg-blue-300 hover:text-blue-300 <br>
    4: btn-core rounded-sm bg-green-300 hover:text-green-300 <br>
  </div>
</div>