<div class="flex border-b-2 dark:border-slate-800">
  <div class="w-[200px] flex">
    <button class="bg-slate-200 dark:bg-slate-800 text-slate-700 dark:text-slate-200 min-w-full flex-1 h-full" (click)="toggleRightSidebar()">MENU</button>
  </div>
  <div class="flex-grow">
    <h1 class="text-center text-2xl">Title</h1>
    <h2 class="text-center text-lg">More text...</h2>
    <h5 class="text-center text-sm">description</h5>
  </div>
  <div class="w-[200px] relative flex">
    <button class="bg-slate-200 dark:bg-slate-800 text-slate-700 dark:text-slate-200 min-w-full py-2 flex-1 h-full" (click)="toggleRightSidebar()">OPTIONS</button>
  </div>
</div>


