<div class="p-2">
  <a routerLink="/about" class="p-2 link" link-button>
    <p><span class="mdi mdi-home"> ABOUT</span></p>
  </a>
  <a routerLink="/info" class="p-2 link" link-button>
    <p><span class="mdi mdi-account-cowboy-hat"> INFO</span></p>
  </a>
  <a routerLink="/grid" class="p-2 link" link-button>
    <p><span class="mdi mdi-grid"> GRID</span></p>
  </a>
  <a routerLink="/chart" class="p-2 link" link-button>
    <p><span class="mdi mdi-chart-areaspline"> CHART</span></p>
  </a>
  <a routerLink="/blog" class="p-2 link" link-button>
    <p><span class="mdi mdi-post"> BLOG</span></p>
  </a>
</div>
