
<div class="flex flex-col h-screen">
  <app-new-header></app-new-header>
  <app-header></app-header>
  <div class="flex h-full">
    <div id="left-sidebar" [ngClass]="{'hidden': !(leftOpen$ | async)}" class="bg-slate-400 w-[200px]">
      <app-menu></app-menu>
    </div>
    <div id="content" class="grow">
      content
      <router-outlet></router-outlet>
    </div>
    <div id="right-sidebar" [ngClass]="{'hidden': !(rightOpen$ | async)}" class="bg-slate-400 w-[200px]">
      <app-options></app-options>
    </div>
  </div>


  <div class="w-full p-2 text-center bg-slate-800 text-slate-200">footer</div>
</div>