
<div class="flex flex-col h-screen">
  <app-new-header></app-new-header>
  <!-- <app-header></app-header> -->
  <div class="flex h-full">
    <div id="left-sidebar" [@openleft]="(leftOpen$ | async) ? 'open' : 'closed'" class="overflow-hidden bg-slate-400">
      <app-menu></app-menu>
    </div>
    <div id="content" class="grow">
      <router-outlet></router-outlet>
    </div>
    <div id="right-sidebar" [@openright]="(rightOpen$ | async) ? 'open' : 'closed'" class="overflow-hidden bg-slate-400">
      <app-options></app-options>
    </div>
  </div>


  <div class="w-full p-2 text-center bg-slate-800 text-slate-200">footer</div>
</div>