<dx-chart
  id="chart"
  [dataSource]="dataSource"
  title="Pizza Shop Complaints"
  palette="Harmony Light"
>
<dxo-animation>

</dxo-animation>
  <dxi-value-axis name="frequency" position="left" [tickInterval]="1000">
  </dxi-value-axis>
  <dxi-value-axis
    name="percentage"
    position="right"
    [showZero]="true"
    [tickInterval]="25"
    [valueMarginsEnabled]="false"
  >
    <dxo-label [customizeText]="customizeLabelText"></dxo-label>
    <dxi-constant-line
      [value]="1000"
      color="#fc3535"
      dashStyle="dash"
      [width]="2"
    >
      <dxo-label [visible]="false"></dxo-label>
    </dxi-constant-line>
  </dxi-value-axis>
  <dxo-argument-axis>
    <dxo-label overlappingBehavior="stagger"></dxo-label>
  </dxo-argument-axis>
  <dxo-tooltip
    [enabled]="true"
    [shared]="true"
    [cornerRadius]="2"
    contentTemplate="tooltipContent"
  >
      <dxo-show
      type="slide"
      [from]="{ top: -100, opacity: 0 }"
      [to]="{ opacity: 1, top: 0 }"
    ></dxo-show>
    <dxo-hide
      type="pop"
      [from]="{ scale: 1, opacity: 1 }"
      [to]="{ opacity: 0, scale: 0.1 }"
    ></dxo-hide>
    <div *dxTemplate="let data = data; of: 'tooltipContent'">
      <app-tooltip></app-tooltip>
      <div>test {{this.data}} test</div>
    </div>
  </dxo-tooltip>
  <dxo-common-series-settings argumentField="complaint">
  </dxo-common-series-settings>
  <dxi-series
    type="bar"
    valueField="count"
    axis="frequency"
    name="Complaint frequency"
    color="#fac29a"
  >
  </dxi-series>
  <dxi-series
    type="spline"
    valueField="cumulativePercent"
    axis="percentage"
    name="Cumulative percentage"
    color="#6b71c3"
  >
  </dxi-series>
  <dxo-legend verticalAlignment="top" horizontalAlignment="center">
  </dxo-legend>
</dx-chart>
