<section class="py-1 bg-blueGray-50">
  <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4 mx-auto mt-24">
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded ">  
      <div class="block w-full overflow-x-auto">
        <table class="items-center bg-transparent w-full">
          <thead>
            <tr>
              <th class="table-header-cell">
                Name
              </th>
              <th class="table-header-cell">
                Messages
              </th>
              <th class="table-header-cell">
                Pets
              </th>
              <th class="table-header-cell">
                Cars
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-row">
              <th class="table-body-cell">
                Kalle Anka
              </th>
              <td class="table-body-cell">
                4,569
              </td>
              <td class="table-body-cell">
                3
              </td>
              <td class="table-body-cell">
                1
              </td>
            </tr>
            <tr class="table-row">
              <th class="table-body-cell">
                Musse Pigg
              </th>
              <td class="table-body-cell">
                150
              </td>
              <td class="table-body-cell">
                1,000
              </td>
              <td class="table-body-cell">
                2
              </td>
            </tr>
            <tr class="table-row">
              <th class="table-body-cell">
                Långben
              </th>
              <td class="table-body-cell">
                3,513
              </td>
              <td class="table-body-cell">
                9
              </td>
              <td class="table-body-cell">
                12
              </td>
            </tr>          
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  </section>